
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.header{
    padding: 80px;
    text-align: left;
    background-image: url(fundo-do-padrao-dos-quadrados-pretos.jpg); /*credits: Picture's desEYEns in Freepik*/
    color: white;
    margin-top: -2%;
}

a > h1{
    font-size: 40px;
    color: white;
    margin-top: 10px;
    padding-bottom: 30px;
}

/*Styling the top navigation bar*/

.navbar{
    overflow: hidden;
    background-color: #333;

}

.navbar a {
    float: left; /*make element float to left, rigth, need stay side-by-side*/
    display: block;
    text-align: center;
    text-decoration: none; /*remove underline*/
    padding: 14px 20px;
}

/*change color when pass the mouse*/
.navbar a:hover{
    background-color: #ddd; /*background is grey*/
    color: black; /*color the text when pass mouse is black*/
}

#logo-img{
    background-image: url(moldura-de-ouro-em-um-fundo-preto-textura.jpg);
    width: 40px;
}

.header > a{
    color: white;
}

*{
    box-sizing: border-box; /*Ensure proper sizing*/
    background-color: black;
}

/*Container*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.side { /*sidebar left column*/
    flex: 30px;/*Set the width of the sidebar*/
    background-color: black; 
    padding: 20px;
}

.side > img{
    width: 100%;
}

/*Main column at center*/
.main {
    flex: 70px;/*Set the width of the main content*/
    background-color: black; 
    padding: 20px;
    color: white;

}
.row-options {
    display: flex;
    flex-wrap: wrap;
}

.side-opt { /*sidebar left column*/
    flex: 30px;/*Set the width of the sidebar*/
    background-color: black; 
    padding: 20px;
}

.side-opt > img{
    width: 35%;
}
.main-opt > img{
    width: 35%;
}
.opt-title{
    text-align: center;
    color: white;
}

.text-p{
    text-align: justify;
    color: white;
}
/*Main column at center*/
.main-opt {
    flex: 70px;/*Set the width of the main content*/
    background-color: black; 
    padding: 20px;
    color: white;

}



.main > p{
    text-align: justify;
    margin-top: 5%;
}

.btn-text-1{
   font-size: 14px;
   width: 35%;
   border: 1px solid white;
   border-radius: 12px;
   padding-top: 0.5%;
   color: black;
   background-color: white;
   text-align: center;
   font-weight: bold;

}

.btn-text-1:hover{
    background-color: black;
    color: white;
}

/*Media queries to make the layout reponsive, in others words make the website looks good on all devices (desktop, laptops, tablets and mobile*/

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:700px){
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    .navbar a{
       float: none;
       width: 100%;
    }
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    color: white;
}